/* ____________ Variáveis ____________ */
:root {
    --fonte-titulo: 'Lovers Quarrel', cursive;
    --fonte-corpo: 'Alata', sans-serif;
    --fonte-texto-alternativo: 'Playwrite AR';
    --font-weight-titulo: 100;
    --cor-titulo: #fffffe;
    --cor-texto: rgba(255, 255, 255, 0.9);
    --cor-texto-fraco: #e7dad1;
    --cor-span: #2c1802d2;
    --cor-fundo: rgb(255, 254, 254);
    /* --cor-fundo: rgba(168, 164, 104, 0.195); */
    --cor-fundo2: #fff2e9af;


}

/* ____________ Reset básico ____________ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Para o texto "Uma breve viagem no tempo" não crie scroll horizontal */
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

li {
    font-family: var(--fonte-corpo);
    font-size: 20px;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}   

/* ____________ Títulos e tags ____________ */

h1 { 
    font-family: var(--fonte-titulo);
    font-size: clamp(90px, 13vw, 13vw);
    font-weight: 100;
    color: var(--cor-titulo);
}

/* Sub title do hero */
h2 {
    font-family: var(--fonte-corpo);
    font-size: clamp(14px, 1.4vw, 400px);
    font-weight: 500;
    color: var(--cor-texto);
    line-height: 1.4;
    text-align: right;
}

span {
    color: var(--cor-span);
    font-weight: 900;
    font-size: clamp(15px, 1.5vw, 400px);
}

h3 {
    font-family: var(--fonte-titulo);
    font-size: 6rem;
    font-weight: var(--font-weight-titulo);
    margin: 5rem 0 0;
}

h4 {
    font-family: var(--fonte-texto-alternativo);
    font-size: clamp(10px, 1.7rem, 300px);
    font-weight: 300;
    color: var(--span);
}

h5 {
    font-family: var(--fonte-corpo);
    font-size: clamp(7px, 1.1rem, 100px);
    font-weight: 100;
    color: var(--span);
}

p {
    font-family: var(--fonte-corpo);
    font-size: 1.2vw;
    font-weight: 100;
    color: var(--cor-span);
}

/* Logo */
h6 {
    font-family: var(--fonte-titulo);
    font-size: 40px;
    color: inherit;
    font-weight: 100;
}

/* ____________ Botões ____________ */

button {
    border: none;
    width: 7vw;
    background-color: white;
    color: var(--cor-span);
    font-family: var(--fonte-corpo);
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.3rem;
    cursor: pointer;
    border: 1px solid var(--cor-span);
}

button:hover {
    transition: 0.3s ease;
    transform: translateY(-1px) scale(1.05);
}

