/* ____________ HISTÓRIA DO CAFÉ ____________ */

.historia-cafe {
    background-color: var(--cor-fundo);
    padding-bottom: 8rem;
    color: #333;

    /* background-image: url(/img/graos.png);  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

.titulo-historia {
    text-align: center;
    max-width: 700px;
    margin: 0rem auto 8rem;
}

.titulo-historia p {
    font-family: var(--fonte-corpo);
    color: #666;
}

/* Uma breve viagem no tempo */
.titulo-historia span {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(12px, 1.1vw, 1.3vw);
    position: relative;
    top: -35px;
    z-index: 1;
    font-weight: var(--font-weight-titulo);
    letter-spacing: 6px;
    text-transform: uppercase;
}

.titulo-historia > span {
    display: block;
    white-space: nowrap;
    animation: passarTexto 18s linear infinite;
}

@keyframes passarTexto {
    0% {
        transform: translateX(70vw);
    }
    100% {
        transform: translateX(-70vw);
    }
}

/* ____________ LINHA DO TEMPO ____________ */

.linha-do-tempo {
    position: relative;
    max-width: 900px;
    margin: 0 auto;

    max-height: 600px;
    overflow: hidden;
    transition: max-height 1.5s ease;
}

.linha-do-tempo.expandir {
    max-height: 2500px;
}

/* Linha vertical */

.linha-do-tempo::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--cor-span);
    transform: translateX(-50%);
}

/* sombra */
.linha-do-tempo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;

    height: 10px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.linha-do-tempo.expandir::after {
    display:none;
}

/* ____________ EVENTOS ____________ */

.evento {
    width: 50%;
    position: relative;
    padding: 0 3rem 5rem;
}

.evento:nth-child(odd) {
    left: 0;
    text-align: right;
}

.evento:nth-child(even) {
    left: 50%;
    text-align: left;
}


/* ____________ ANO ____________ */

.ano {
    font-family: var(--fonte-titulo);
    font-size: clamp(2.2vw, 2.6vw, 2.8vw);
    color: var(--cor-span);
    margin-bottom: 0.5rem;
}


/* ____________ CONTEÚDO ____________ */

.conteudo-evento {
    background-color: var(--cor-fundo2);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.conteudo-evento h4 {
    font-family: var(--fonte-corpo);
    font-size: clamp(20px, 1.5vw, 1.7vw);
    margin-bottom: 0.8rem;
}

/* ____________ BOTÃO ____________ */

.historia-cafe button {
    margin: 30px auto 0;
    display: block;
}


/* ____________ RESPONSIVIDADE ____________ */
@media (min-width: 769px) and (max-width: 1919px) {
    .titulo-historia > span {
        animation: none;
        transform: none;
    }
}

@media (max-width: 800px) {
    .historia-cafe {
        padding-bottom: 3rem;
    }

    .titulo-historia > span {
        animation: none;
    }
}

@media (max-width: 700px) {

    .linha-do-tempo::before {
        left: 15px;
    }

    .evento,
    .evento:nth-child(odd),
    .evento:nth-child(even) {
        width: 100%;
        left: 0;
        text-align: left;
        padding-left: 3.5rem;
        padding-right: 0;
    }

    .ano {
        font-size: 2rem;
    }

    .conteudo-evento {
        padding: 1.5rem;
    }

    .titulo-historia {
        margin: 0rem auto 4rem;
    }

    .historia-cafe {
        background-image: none;
    }
}

@media screen and (max-width: 425px) {
    .linha-do-tempo {
        width: 100%;
        overflow: hidden;
    }

    .linha-do-tempo::before {
        display: none;
    }

    .linha-do-tempo::after {
        width: 100%;
    }

    .evento,
    .evento:nth-child(odd),
    .evento:nth-child(even) {
        width: 90%;
        left: 18px;
        text-align: left;
        padding: 0 0 3rem;
    }

    .conteudo-evento {
        width: 100%;
        box-sizing: border-box;
        padding: 1.25rem;
    }

    .ano {
        font-size: 1.7rem;
    }

    .titulo-historia span {
        letter-spacing: 2px;
    }

    .conteudo-evento {
        background-color: var(--cor-fundo2);
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
    }
}
